#raz{
	margin-top:100px;
	border: 15px solid #6e0c05;
	font-size:40px;
	line-height:2.6;
}
.slider{
	display:flex;
	justify-content:space-between;
	margin-top: 20px;
}
.slider__inner{
	width:100%;
	display:flex;
	justify-content:space-between;
	margin-top: 20px;
	/*position:absolute;
	bottom:300px;
	top:400px;*/
}
.slider__item{
	width:24%;
	padding: 20px 0 40px 0;
	border-top: 3px solid #f5aa42;
	border-left: 3px solid #f56642;
	font-size:18px;
	color:#f5aa42;
	text-transform:uppercase;
	opacity:.7;
	position:relative;
}
.slider__number{
	font-size:24px;
	font-weight:700;
}
.active{
	opacity:1;
}
.active:before{
	content:"";
	display:block;
	width:70px;
	height:3px;
	background-color:#1c1919;
	position:absolute;
	top:-3px;
	left:-3px;
	z-index:1; /* Nichogo ne daie*/
	
}
.plsk{
	/*content:"";
	display:block;
	width:15px;
	height:5px;*/
	background-color:#f00505;
	
}
.plsk:before{
	/*content:"";
	display:block;
	background-color:#1438c7;
	width:70px;
	height:3px;
	top:5px;*/
	
	/* Odna poloska*/
}